extends base.jade
block content
    if page.prev
        a.prev.nav(href=url_for(page.prev_link)) &larr; Previous Chapter
    if page.next
        a.next.nav(href=url_for(page.next_link)) Next Chapter &rarr;
    - page.posts.each(function(chapter) {
    article.article.clear
        header.header
          h1= chapter.title
        !=chapter.content
    - })
    if page.prev
        a.prev.nav(href=url_for(page.prev_link)) &larr; Previous Chapter
    if page.next
        a.next.nav(href=url_for(page.next_link)) Next Chapter &rarr;
    if !page.prev || !page.next
        != partial("_partials/author.jade")
